schema/de/hwhWorksAV.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns:tei="http://www.tei-c.org/ns/1.0"
         xmlns:teix="http://www.tei-c.org/ns/Examples"
         xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://henze-digital.zenmem.de/ns/schema-av"><!--
Schema generated from ODD source 2022-08-04T10:07:53Z. .
TEI Edition: Version 4.3.0. Last updated on
        31st August 2021, revision b4f72b1ff
TEI Edition Location: https://www.tei-c.org/Vault/P5/Version 4.3.0/
  
--><!--This work is licensed under a  Creative Commons Attribution 4.0 International License (CC BY 4.0) .-->
   <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron"
           prefix="tei"
           uri="http://www.tei-c.org/ns/1.0"/>
   <define name="gnd.pattern">
      <data type="string">
         <param name="pattern">1[012]?\d{7}[0-9X]|[47]\d{6}-\d|[1-9]\d{0,7}-[0-9X]|3\d{7}[0-9X]</param>
      </data>
   </define>
   <define name="viaf.pattern">
      <data type="string">
         <param name="pattern">[1-9]\d(\d{0,7}|\d{17,20})</param>
      </data>
   </define>
   <define name="geonames.pattern">
      <data type="string">
         <param name="pattern">[1-9][0-9]{0,8}</param>
      </data>
   </define>
   <define name="name">
      <element name="name">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Name, Eigenname) enthält einen Eigennamen in Form eines Nomens oder einer Nominalphrase. [3.6.1. Referring Strings]</a:documentation>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="hwhWorksAV-name-name-typeDep-constraint-rule-2">
            <sch:rule xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                      xmlns:s="http://www.ascc.net/xml/schematron"
                      xmlns:hendi="http://henze-digital.zenmem.de/ns/schema-av"
                      xmlns:mei="http://www.music-encoding.org/ns/mei"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:rng="http://relaxng.org/ns/structure/1.0"
                      context="tei:name[@type='dep']">
               <sch:assert test="parent::tei:orgName and ancestor::tei:org">The value 'dep' is only allowed within the doctype 'orgs'.</sch:assert>
            </sch:rule>
         </pattern>
         <sch:pattern xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                      xmlns:s="http://www.ascc.net/xml/schematron"
                      xmlns:hendi="http://henze-digital.zenmem.de/ns/schema-av"
                      xmlns:mei="http://www.music-encoding.org/ns/mei"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:rng="http://relaxng.org/ns/structure/1.0"
                      is-a="node-typeNkey">
            <sch:param name="node" value="tei:name"/>
         </sch:pattern>
         <optional>
            <attribute name="type">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">charakterisiert das Element in einem gewissen Sinne, wobei irgendeine zweckmäßige Systematik oder Typologie angewendet wird.</a:documentation>
               <choice>
                  <value>character</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">markiert einen Charakter (eine Rolle), die namentlich genannt ist.</a:documentation>
                  <value>characters</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">markiert eine Gruppe von Charakteren (Rollen), die namentlich genannt sind.</a:documentation>
                  <value>work</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">markiert ein künstlerisches Werk, welches beim Namen/Titel genannten ist.</a:documentation>
                  <value>works</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">markiert künstlerische Werke, welche beim Namen/Titel genannt sind.</a:documentation>
                  <value>actingRole</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">markiert eine (theatralische) Rolle, die beim Namen genannten ist.</a:documentation>
                  <value>actingRoles</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">markiert (theatralische) Rollen, die beim Namen genannt sind.</a:documentation>
                  <value>myth</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">markiert einen beim Namen genannten mythologischen Charakter.</a:documentation>
                  <value>myths</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">markiert beim Namen genannte mythologische Charaktere.</a:documentation>
                  <value>venue</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">markiert einen Aufführungsort/ eine Lokalität, welche beim Namen genannten ist.</a:documentation>
                  <value>other</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">markiert ein Subjekt oder Objekt, welches in keine Kategorie einzurdnen ist.</a:documentation>
                  <value>journal</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Titel einer Zeitschrift</a:documentation>
                  <value>newspaper</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Titel einer Zeitung</a:documentation>
                  <value>dep</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Abteilung (einer Organisation)</a:documentation>
               </choice>
            </attribute>
         </optional>
         <optional>
            <attribute name="key">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">bietet mittels eines codierten Wertes in einer beliebigen Form ein extern definiertes Mittel zur Identifizierung einer Einheit (oder mehrerer Einheiten).</a:documentation>
               <list>
                  <oneOrMore>
                     <choice>
                        <data type="string">
                           <param name="pattern">A00[0-9A-F]{5}</param>
                        </data>
                        <data type="string">
                           <param name="pattern">A02[0-9A-F]{5}</param>
                        </data>
                        <data type="string">
                           <param name="pattern">A03[0-9A-F]{5}</param>
                        </data>
                        <data type="string">
                           <param name="pattern">A04[0-9A-F]{5}</param>
                        </data>
                        <data type="string">
                           <param name="pattern">A05[0-9A-F]{5}</param>
                        </data>
                        <data type="string">
                           <param name="pattern">A06[0-9A-F]{5}</param>
                        </data>
                        <data type="string">
                           <param name="pattern">A07[0-9A-F]{5}</param>
                        </data>
                        <data type="string">
                           <param name="pattern">A08[0-9A-F]{5}</param>
                        </data>
                        <data type="string">
                           <param name="pattern">A10[0-9A-F]{5}</param>
                        </data>
                        <data type="string">
                           <param name="pattern">A11[0-9A-F]{5}</param>
                        </data>
                        <data type="string">
                           <param name="pattern">A13[0-9A-F]{5}</param>
                        </data>
                        <data type="string">
                           <param name="pattern">A22[0-9A-F]{5}</param>
                        </data>
                        <data type="string">
                           <param name="pattern">A12[0-9A-F]{5}</param>
                        </data>
                     </choice>
                  </oneOrMore>
               </list>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="respStmt">
      <element name="respStmt">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Angaben zur Verantwortlichkeit) enthält Angaben zur Verantwortlichkeit für den intellektuellen Inhalt eines Textes, einer Edition, einer Aufnahme oder Reihe, wo die spezialisierten Elemente <code xmlns="http://www.w3.org/1999/xhtml">&lt;author&gt;</code>, <code xmlns="http://www.w3.org/1999/xhtml">&lt;editor&gt;</code> etc. nicht ausreichen oder unzutreffend sind; auch verwendbar für Informationen zu Individuen oder Organisationen, die bei der Produktion oder Verbreitung eines bibliografischen Objekts eine Rolle gespielt. [3.12.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.2. The Edition Statement 2.2.5. The Series Statement]</a:documentation>
         <ref name="persName"/>
         <ref name="orgName"/>
         <ref name="name"/>
      </element>
   </define>
   <define name="title">
      <element name="title">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Titel) beinhaltet einen Titel eines beliebigen Werks. [3.12.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.5. The Series Statement]</a:documentation>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="hwhWorksAV-title-report-type-outside-text-constraint-report-3">
            <rule context="tei:title">
               <sch:report xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                           xmlns:s="http://www.ascc.net/xml/schematron"
                           xmlns:hendi="http://henze-digital.zenmem.de/ns/schema-av"
                           xmlns:mei="http://www.music-encoding.org/ns/mei"
                           xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                           xmlns="http://www.tei-c.org/ns/1.0"
                           xmlns:rng="http://relaxng.org/ns/structure/1.0"
                           test=".[@type]/ancestor::tei:teiHeader">Do not use the <sch:emph>type</sch:emph> attribute here!</sch:report>
            </rule>
         </pattern>
         <optional>
            <attribute name="type">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">charakterisiert das Element in einem gewissen Sinne, wobei irgendeine zweckmäßige Systematik oder Typologie angewendet wird.</a:documentation>
               <choice>
                  <value>journal</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Titel einer Zeitschrift</a:documentation>
                  <value>newspaper</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Titel einer Zeitung</a:documentation>
               </choice>
            </attribute>
         </optional>
         <optional>
            <attribute name="level">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">gibt den bibliografischen Typ eines Titels an, d.h. ob er einen Artikel, ein Buch, eine Zeitschrift, eine Reihe oder unpubliziertes Material bezeichnet.</a:documentation>
               <choice>
                  <value>a</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(unselbständig) der Titel gehört zu einer unselbständigen Publikation, wie einem Artikel, Gedicht oder einem anderen Werk, das als Teil einer umfangreicheren Einheit publiziert wurde.</a:documentation>
                  <value>m</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Monografie) der Titel bezieht sich auf Monografien wie z.B. ein Bücher oder andere selbständige Publikationen, also auch auf einzelne Bände in einem mehrbändigen Werk.</a:documentation>
                  <value>j</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Zeitschrift) der Titel bezieht sich auf jede Art fortlaufender oder periodischer Veröffentlichungen wie z. B. Zeitschriften, Magazine oder Zeitungen.</a:documentation>
                  <value>s</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Reihe) der Titel bezeichnet eine Reihe von ansonsten selbständig publizierten Veröffentlichungen, wie z. B. eine Buchreihe.</a:documentation>
                  <value>u</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(unveröffentlicht) der Titel bezieht sich auf unveröffentliches Material (incl. universitäre Qualifikationsarbeiten, soweit sie nicht von einem Verlag veröffentlicht worden sind).</a:documentation>
               </choice>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="idno">
      <element name="idno">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Bezeichner) lieferte jegliche Form eines Bezeichners in einer standardisierten Form, der benutzt werden kann um Objekte zu identifiziert, wie etwa ein bibliographisches Element, eine Organisation, usw.</a:documentation>
         <choice>
            <ref name="gnd.pattern"/>
            <ref name="viaf.pattern"/>
            <ref name="geonames.pattern"/>
         </choice>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="hwhWorksAV-idno-types-match-external-identifiers-constraint-rule-5">
            <sch:rule xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                      xmlns:s="http://www.ascc.net/xml/schematron"
                      xmlns:hendi="http://henze-digital.zenmem.de/ns/schema-av"
                      xmlns:mei="http://www.music-encoding.org/ns/mei"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:rng="http://relaxng.org/ns/structure/1.0"
                      context="tei:idno[@type='gnd']">
               <sch:assert test="matches(., '^1[01]?\d{7}[0-9X]|[47]\d{6}-\d|[1-9]\d{0,7}-[0-9X]|3\d{7}[0-9X]$')">That doesn't look like a valid GND ID.</sch:assert>
            </sch:rule>
            <sch:rule xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                      xmlns:s="http://www.ascc.net/xml/schematron"
                      xmlns:hendi="http://henze-digital.zenmem.de/ns/schema-av"
                      xmlns:mei="http://www.music-encoding.org/ns/mei"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:rng="http://relaxng.org/ns/structure/1.0"
                      context="tei:idno[@type='viaf']">
               <sch:assert test="matches(., '^[1-9]\d(\d{0,7}|\d{17,20})$')">That doesn't look like a valid VIAF ID.</sch:assert>
            </sch:rule>
            <sch:rule xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                      xmlns:s="http://www.ascc.net/xml/schematron"
                      xmlns:hendi="http://henze-digital.zenmem.de/ns/schema-av"
                      xmlns:mei="http://www.music-encoding.org/ns/mei"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:rng="http://relaxng.org/ns/structure/1.0"
                      context="tei:idno[@type='geonames']">
               <sch:assert test="matches(., '^[1-9][0-9]{0,8}$')">That doesn't look like a valid Geonames ID.</sch:assert>
            </sch:rule>
         </pattern>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="hwhWorksAV-idno-match-external-identifiers-constraint-rule-8">
            <sch:rule xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                      xmlns:s="http://www.ascc.net/xml/schematron"
                      xmlns:hendi="http://henze-digital.zenmem.de/ns/schema-av"
                      xmlns:mei="http://www.music-encoding.org/ns/mei"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:rng="http://relaxng.org/ns/structure/1.0"
                      context="tei:idno[parent::tei:place]">
               <sch:report test="@type=('bd')">Bach IDs are not meant for places.</sch:report>
               <sch:report test="@type=('gnd')" role="info">There are less GND Identifier for places. Have you tried http://www.geonames.org/ ?</sch:report>
            </sch:rule>
            <sch:rule xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                      xmlns:s="http://www.ascc.net/xml/schematron"
                      xmlns:hendi="http://henze-digital.zenmem.de/ns/schema-av"
                      xmlns:mei="http://www.music-encoding.org/ns/mei"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:rng="http://relaxng.org/ns/structure/1.0"
                      context="tei:idno[parent::tei:person]">
               <sch:report test="@type=('geonames')">Geonames IDs are not meant for persons.</sch:report>
            </sch:rule>
         </pattern>
         <attribute name="type">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">charakterisiert das Element in einem gewissen Sinne, wobei irgendeine zweckmäßige Systematik oder Typologie angewendet wird.</a:documentation>
            <choice>
               <value>gnd</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Gemeinsame Normdatei) </a:documentation>
               <value>viaf</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Virtual International Authority File) </a:documentation>
               <value>geonames</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">ID von http://www.geonames.org/</a:documentation>
            </choice>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="language">
      <element name="language">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Sprache) beschreibt eine einzelne Sprache oder eine Subsprache, die innerhalb eines Textes verwendet wird. [2.4.2. Language Usage]</a:documentation>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="hwhWorksAV-language-no-language-for-revealed-correspondence-constraint-report-7">
            <rule context="tei:language">
               <sch:report xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                           xmlns:s="http://www.ascc.net/xml/schematron"
                           xmlns:xi="http://www.w3.org/2001/XInclude"
                           xmlns:hendi="http://henze-digital.zenmem.de/ns/schema-av"
                           xmlns:mei="http://www.music-encoding.org/ns/mei"
                           xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                           xmlns="http://www.tei-c.org/ns/1.0"
                           xmlns:rng="http://relaxng.org/ns/structure/1.0"
                           test="preceding-sibling::tei:correspDesc[@n='revealed'] and following::tei:body[normalize-space(.) eq '']">Revealed correspondence must not have language information.</sch:report>
            </rule>
         </pattern>
         <attribute name="ident">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Identifikator) gibt einen Sprachcode, aufgebaut nach <a xmlns="http://www.w3.org/1999/xhtml"
                  href="https://tools.ietf.org/html/bcp47">BCP 47</a> an, der zur Identifikation der im Element dokumentierten Sprache benutzt wird und auf den das globale <code xmlns="http://www.w3.org/1999/xhtml">@xml:lang</code>-Attribut verweist.</a:documentation>
         </attribute>
         <optional>
            <attribute name="usage">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">gibt den ungefähren prozentualen Anteil des Textes an, der in dieser Sprache verfasst wurde.</a:documentation>
               <data type="nonNegativeInteger"/>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="titleStmt">
      <element name="titleStmt">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Angaben zum Titel) umfasst Angaben zum Titel eines Werks und zu den für seinen Inhalt Verantwortlichen. [2.2.1. The Title Statement 2.2. The File Description]</a:documentation>
         <group>
            <oneOrMore>
               <ref name="title"/>
            </oneOrMore>
         </group>
      </element>
   </define>
   <define name="publicationStmt">
      <element name="publicationStmt">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Angaben zur Veröffentlichung) umfasst Angaben zu Veröffentlichung oder Vertrieb eines elektronischen oder sonstigen Textes. [2.2.4. Publication, Distribution, Licensing, etc. 2.2. The File Description]</a:documentation>
         <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
      </element>
   </define>
   <define name="persName">
      <element name="persName">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(personal name) contains a proper noun or proper-noun phrase referring to a person, possibly including one or more of the person's forenames, surnames, honorifics, added names, etc. [13.2.1. Personal Names]</a:documentation>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="hwhWorksAV-persName-persNameKeyRequirement-constraint-rule-10">
            <sch:rule xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                      xmlns:s="http://www.ascc.net/xml/schematron"
                      xmlns:xi="http://www.w3.org/2001/XInclude"
                      xmlns:hendi="http://henze-digital.zenmem.de/ns/schema-av"
                      xmlns:mei="http://www.music-encoding.org/ns/mei"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:rng="http://relaxng.org/ns/structure/1.0"
                      context="tei:persName[not(parent::tei:person)]">
               <sch:assert test="@key" role="warning">A <sch:name/> should be used for identification.</sch:assert>
            </sch:rule>
         </pattern>
         <optional>
            <attribute name="key">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <data type="string">
                  <param name="pattern">A00[0-9A-F]{5}</param>
               </data>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="orgName">
      <element name="orgName">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(organization name) contains an organizational name. [13.2.2. Organizational Names]</a:documentation>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="hwhWorksAV-orgName-orgNameKeyRequirement-constraint-rule-11">
            <sch:rule xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                      xmlns:s="http://www.ascc.net/xml/schematron"
                      xmlns:xi="http://www.w3.org/2001/XInclude"
                      xmlns:hendi="http://henze-digital.zenmem.de/ns/schema-av"
                      xmlns:mei="http://www.music-encoding.org/ns/mei"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:rng="http://relaxng.org/ns/structure/1.0"
                      context="tei:orgName[not(parent::tei:org)]">
               <sch:assert test="@key" role="warning">A <sch:name/> should be used for identification.</sch:assert>
            </sch:rule>
         </pattern>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="hwhWorksAV-orgName-parent-org-constraint-rule-12">
            <sch:rule xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                      xmlns:s="http://www.ascc.net/xml/schematron"
                      xmlns:xi="http://www.w3.org/2001/XInclude"
                      xmlns:hendi="http://henze-digital.zenmem.de/ns/schema-av"
                      xmlns:mei="http://www.music-encoding.org/ns/mei"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:rng="http://relaxng.org/ns/structure/1.0"
                      context="tei:orgName[parent::tei:org and not(ancestor::tei:listOrg)]">
               <sch:report test="@key or not(@type)">It is required to give the type ('alt' or 'reg') of the name while @key is forbiden here.</sch:report>
            </sch:rule>
         </pattern>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="hwhWorksAV-orgName-parent-org-reg-constraint-rule-13">
            <sch:rule xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                      xmlns:s="http://www.ascc.net/xml/schematron"
                      xmlns:xi="http://www.w3.org/2001/XInclude"
                      xmlns:hendi="http://henze-digital.zenmem.de/ns/schema-av"
                      xmlns:mei="http://www.music-encoding.org/ns/mei"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:rng="http://relaxng.org/ns/structure/1.0"
                      context="tei:orgName[parent::tei:org and not(preceding::tei:orgName) and not(ancestor::tei:listOrg)]">
               <sch:assert test="@type='reg'">There must exactly be one name with @type='reg'.</sch:assert>
            </sch:rule>
         </pattern>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="hwhWorksAV-orgName-parent-org-reg-constraint-rule-14">
            <sch:rule xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                      xmlns:s="http://www.ascc.net/xml/schematron"
                      xmlns:xi="http://www.w3.org/2001/XInclude"
                      xmlns:hendi="http://henze-digital.zenmem.de/ns/schema-av"
                      xmlns:mei="http://www.music-encoding.org/ns/mei"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:rng="http://relaxng.org/ns/structure/1.0"
                      context="tei:orgName[parent::tei:org and preceding::tei:orgName and not(ancestor::tei:listOrg)]">
               <sch:report test="@type='reg'">Only the first name can be of @type='reg'. Following names are supposed to be alternative names, @type='alt'.</sch:report>
            </sch:rule>
         </pattern>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="hwhWorksAV-orgName-parent-not-org-constraint-rule-15">
            <sch:rule xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                      xmlns:s="http://www.ascc.net/xml/schematron"
                      xmlns:xi="http://www.w3.org/2001/XInclude"
                      xmlns:hendi="http://henze-digital.zenmem.de/ns/schema-av"
                      xmlns:mei="http://www.music-encoding.org/ns/mei"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:rng="http://relaxng.org/ns/structure/1.0"
                      context="tei:orgName[not(parent::tei:org)]">
               <sch:report test="@type">No @type attribute allowed here.</sch:report>
            </sch:rule>
         </pattern>
         <optional>
            <attribute name="key">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <data type="string">
                  <param name="pattern">A08[0-9A-F]{5}</param>
               </data>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="event">
      <element name="event">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(event) contains data relating to any kind of significant event associated with a person, place, or organization. [13.3.1. Basic Principles]</a:documentation>
         <group>
            <zeroOrMore>
               <ref name="idno"/>
            </zeroOrMore>
            <empty/>
            <zeroOrMore>
               <choice>
                  <ref name="idno"/>
               </choice>
            </zeroOrMore>
            <zeroOrMore>
               <ref name="event"/>
            </zeroOrMore>
         </group>
      </element>
   </define>
   <define name="contents">
      <element name="contents">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">List of the material contained within a resource.</a:documentation>
         <choice>
            <oneOrMore>
               <ref name="contentItem"/>
            </oneOrMore>
         </choice>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="hwhWorksAV-contents-checkContentsLabels-constraint-rule-16">
            <sch:rule xmlns:xi="http://www.w3.org/2001/XInclude"
                      xmlns:hendi="http://henze-digital.zenmem.de/ns/schema-av"
                      xmlns:mei="http://www.music-encoding.org/ns/mei"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:rng="http://relaxng.org/ns/structure/1.0"
                      context="mei:contents[mei:label]">
               <sch:assert role="warning" test="count(mei:label) = count(mei:contentItem)">When labels
            are used, usually each content item has one.</sch:assert>
            </sch:rule>
         </pattern>
      </element>
   </define>
   <define name="contentItem">
      <element name="contentItem">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Contains a single entry within a content description element.</a:documentation>
         <zeroOrMore>
            <choice>
               <text/>
            </choice>
         </zeroOrMore>
      </element>
   </define>
   <define name="att.hwh.quotation.attribute.rendRight">
      <optional>
         <attribute name="rendRight">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(graphische Darstellung (rechts)) gibt an, wie das fragliche Element in der Vorlage am Ende einer Phrase graphisch dargestellt ist.</a:documentation>
            <list>
               <choice>
                  <value>single</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Einfache Anführungszeichen.</a:documentation>
                  <value>double</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Doppelte Anführungszeichen.</a:documentation>
                  <value>up</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Anführungszeichen oben.</a:documentation>
                  <value>down</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Anführungszeichen unten.</a:documentation>
               </choice>
               <optional>
                  <choice>
                     <value>single</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Einfache Anführungszeichen.</a:documentation>
                     <value>double</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Doppelte Anführungszeichen.</a:documentation>
                     <value>up</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Anführungszeichen oben.</a:documentation>
                     <value>down</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Anführungszeichen unten.</a:documentation>
                  </choice>
               </optional>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="att.hwh.quotation.attribute.rendLeft">
      <optional>
         <attribute name="rendLeft">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(graphische Darstellung (links)) gibt an, wie das fragliche Element in der Vorlage zu Beginn einer Phrase graphisch dargestellt ist.</a:documentation>
            <list>
               <choice>
                  <value>single</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Einfache Anführungszeichen.</a:documentation>
                  <value>double</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Doppelte Anführungszeichen.</a:documentation>
                  <value>up</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Anführungszeichen oben.</a:documentation>
                  <value>down</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Anführungszeichen unten.</a:documentation>
               </choice>
               <optional>
                  <choice>
                     <value>single</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Einfache Anführungszeichen.</a:documentation>
                     <value>double</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Doppelte Anführungszeichen.</a:documentation>
                     <value>up</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Anführungszeichen oben.</a:documentation>
                     <value>down</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Anführungszeichen unten.</a:documentation>
                  </choice>
               </optional>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="att.hwh.quotation.attribute.xmllang">
      <optional>
         <attribute name="xml:lang">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Sprache) gibt an, welcher Sprache die Anführungszeichen entnommen sind.</a:documentation>
            <choice>
               <value>de</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Deutsche Anführungszeichen.</a:documentation>
               <value>en</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Englische Anführungszeichen.</a:documentation>
               <value>fr</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Französische Anführungszeichen.</a:documentation>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="av">
      <element name="av" ns="http://henze-digital.zenmem.de/ns/schema-av">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(TEI Dokument) enthält ein einzelnes TEI-konformes Dokument, TEI header und text einschließend, entweder einzeln oder als Teile des <code xmlns="http://www.w3.org/1999/xhtml">&lt;teiCorpus&gt;</code> Elements.</a:documentation>
         <ref name="titleStmt"/>
         <ref name="respStmt"/>
         <ref name="publicationStmt"/>
         <ref name="contents"/>
         <attribute name="status">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <choice>
               <value>proposed</value>
               <value>candidate</value>
               <value>approved</value>
            </choice>
         </attribute>
         <attribute name="source">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <choice>
               <value>HWH</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Personen aus dem Datenbestand des Projektes Henze-Digital (HWH).</a:documentation>
            </choice>
         </attribute>
         <attribute name="xml:id">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Bezeichner) liefert einen eindeutigen Bezeichner für das Element mit dem Attribut.</a:documentation>
            <data type="string">
               <param name="pattern">A02[0-9A-F]{5}</param>
            </data>
         </attribute>
         <empty/>
      </element>
   </define>
   <start>
      <choice>
         <ref name="av"/>
      </choice>
   </start>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="hwhWorksAV-whitespaceOnlyContent-constraint-rule-17">
      <sch:rule xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                xmlns:s="http://www.ascc.net/xml/schematron"
                xmlns:hendi="http://henze-digital.zenmem.de/ns/schema-av"
                xmlns:mei="http://www.music-encoding.org/ns/mei"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                context="tei:surname | tei:forename | tei:persName | tei:author[not(@sameAs)] | tei:occupation | tei:settlement | tei:country | tei:region | tei:rs | tei:workName | tei:characterName | tei:hi[not(.//tei:gap)] | tei:head | tei:note[not(@type=('thematicCom'))] | tei:placeName | tei:title | tei:seg | tei:item[not(@* or *)] | tei:term">
         <sch:report test="normalize-space(.) = ''">
            <sch:name/> has whitespace only content</sch:report>
      </sch:rule>
   </pattern>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="hwhWorksAV-elementStartsWithWhitespace-constraint-rule-18">
      <sch:rule xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                xmlns:s="http://www.ascc.net/xml/schematron"
                xmlns:hendi="http://henze-digital.zenmem.de/ns/schema-av"
                xmlns:mei="http://www.music-encoding.org/ns/mei"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                context="tei:surname | tei:forename | tei:persName[not(@type)][not(./child::element())] | tei:author | tei:occupation | tei:settlement[not(tei:address)][not(./child::element())] | tei:country | tei:region | tei:rs[not(./child::element())] | tei:workName | tei:characterName | tei:hi | tei:placeName[not(parent::tei:address or parent::tei:birth or parent::tei:death)][not(./child::element())]">
         <sch:report test="matches(.,'^\s') and (node()[1] = text()[1])">whitespace at the beginning of element <sch:name/>
         </sch:report>
      </sch:rule>
   </pattern>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="hwhWorksAV-untrimmedAttributeValues-constraint-rule-19">
      <sch:rule xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                xmlns:s="http://www.ascc.net/xml/schematron"
                xmlns:hendi="http://henze-digital.zenmem.de/ns/schema-av"
                xmlns:mei="http://www.music-encoding.org/ns/mei"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                context="*">
         <sch:report test="some $i in @* satisfies string-length(normalize-unicode(normalize-space(replace($i, ' | | | ', ' ')))) ne string-length($i)">There is some whitespace here at the beginning or end of some attribute value.</sch:report>
      </sch:rule>
   </pattern>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="hwhWorksAV-hwhTargets-constraint-rule-20">
      <sch:rule xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                xmlns:s="http://www.ascc.net/xml/schematron"
                xmlns:hendi="http://henze-digital.zenmem.de/ns/schema-av"
                xmlns:mei="http://www.music-encoding.org/ns/mei"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                context="*[starts-with(@target, 'hwh:')]">
         <sch:assert test="matches(@target, '^hwh:A\d{2}[0-9A-F]{5}(#.+)?(\s+hwh:A\d{2}[0-9A-F]{5}(#.+)?)*$')">"hwh"-prefixed URIs must follow the pattern "hwh:A\d{2}[0-9A-F]{5}" (i.e. without any file extension)</sch:assert>
      </sch:rule>
   </pattern>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="hwhWorksAV-emojiCheck-constraint-rule-21">
      <sch:rule xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                xmlns:s="http://www.ascc.net/xml/schematron"
                xmlns:hendi="http://henze-digital.zenmem.de/ns/schema-av"
                xmlns:mei="http://www.music-encoding.org/ns/mei"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                context="*[some $i in text() satisfies normalize-space($i) ne '']">
         <sch:report test="matches(.,                         '[⌚-⌛]|[⏩-⏬]|[⏰]|[⏳]|[◽-◾]|[☔-☕]|[♈-♓]|[♿]|[⚓]|[⚡]|[⚪-⚫]|[⚽-⚾]|[⛄-⛅]|[⛎]|[⛔]|[⛪]|[⛲-⛳]|[⛵]|[⛺]|[⛽]|[✅]|[✊-✋]|[✨]|[❌]|[❎]|[❓-❕]|[❗]|[➕-➗]|[➰]|[➿]|[⬛-⬜]|[⭐]|[⭕]|[🀄]|[🃏]|[🆎]|[🆑-🆚]|[🇦-🇿]|[🈁]|[🈚]|[🈯]|[🈲-🈶]|[🈸-🈺]|[🉐-🉑]|[🌀-🌠]|[🌭-🌯]|[🌰-🌵]|[🌷-🍼]|[🍾-🍿]|[🎀-🎓]|[🎠-🏄]|[🏅]|[🏆-🏊]|[🏏-🏓]|[🏠-🏰]|[🏴]|[🏸-🏿]|[🐀-🐾]|[👀]|[👂-📷]|[📸]|[📹-📼]|[📿]|[🔀-🔽]|[🕋-🕎]|[🕐-🕧]|[🕺]|[🖕-🖖]|[🖤]|[🗻-🗿]|[😀]|[😁-😐]|[😑]|[😒-😔]|[😕]|[😖]|[😗]|[😘]|[😙]|[😚]|[😛]|[😜-😞]|[😟]|[😠-😥]|[😦-😧]|[😨-😫]|[😬]|[😭]|[😮-😯]|[😰-😳]|[😴]|[😵-🙀]|[🙁-🙂]|[🙃-🙄]|[🙅-🙏]|[🚀-🛅]|[🛌]|[🛐]|[🛑-🛒]|[🛕]|[🛫-🛬]|[🛴-🛶]|[🛷-🛸]|[🛹]|[🛺]|[🟠-🟫]|[🤍-🤏]|[🤐-🤘]|[🤙-🤞]|[🤟]|[🤠-🤧]|[🤨-🤯]|[🤰]|[🤱-🤲]|[🤳-🤺]|[🤼-🤾]|[🤿]|[🥀-🥅]|[🥇-🥋]|[🥌]|[🥍-🥏]|[🥐-🥞]|[🥟-🥫]|[🥬-🥰]|[🥱]|[🥳-🥶]|[🥺]|[🥻]|[🥼-🥿]|[🦀-🦄]|[🦅-🦑]|[🦒-🦗]|[🦘-🦢]|[🦥-🦪]|[🦮-🦯]|[🦰-🦹]|[🦺-🦿]|[🧀]|[🧁-🧂]|[🧃-🧊]|[🧍-🧏]|[🧐-🧦]|[🧧-🧿]|[🩰-🩳]|[🩸-🩺]|[🪀-🪂]|[🪐-🪕]')">Text contains characters with Emoji presentation as default.</sch:report>
      </sch:rule>
   </pattern>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="hwhWorksAV-sourceMustResolve-constraint-rule-22">
      <sch:rule xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                xmlns:s="http://www.ascc.net/xml/schematron"
                xmlns:hendi="http://henze-digital.zenmem.de/ns/schema-av"
                xmlns:mei="http://www.music-encoding.org/ns/mei"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                context="*[starts-with(@source, '#')]">
         <sch:let name="source" value="@source"/>
         <sch:assert test="id(substring($source,2))">Unable to locate the reference provided by the @source attribute.</sch:assert>
      </sch:rule>
   </pattern>
   <sch:schema xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
               xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
               xmlns:s="http://www.ascc.net/xml/schematron"
               xmlns:hendi="http://henze-digital.zenmem.de/ns/schema-av"
               xmlns:mei="http://www.music-encoding.org/ns/mei"
               xmlns:sch="http://purl.oclc.org/dsdl/schematron"
               xmlns="http://www.tei-c.org/ns/1.0"
               xmlns:rng="http://relaxng.org/ns/structure/1.0"
               queryBinding="xslt2">
      <sch:ns uri="https://henze-digital.de/ns/xslt-functions" prefix="hwh-xsl"/>
      <xsl:function name="hwh-xsl:int2hex">
         <xsl:param name="number" as="xs:int"/>
         <xsl:variable name="chars"
                       select="('0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'A', 'B', 'C', 'D', 'E', 'F')"/>
         <xsl:variable name="div" select="$number div 16"/>
         <xsl:variable name="count" select="floor($div)"/>
         <xsl:variable name="remainder" select="($div - $count) * 16"/>
         <xsl:value-of select="concat(if($count gt 15) then hwh-xsl:int2hex(xs:integer($count))                             else if($number gt 15) then $chars[$count +1]                             else (),                             $chars[$remainder +1])"/>
      </xsl:function>
      <xsl:function name="hwh-xsl:compute-check-digit">
         <xsl:param name="id" as="xs:string"/>
         <xsl:variable name="weights" select="(2, 4, 6, 8, 9, 5, 3)"/>
         <xsl:variable name="str2codepts" select="string-to-codepoints($id)"/>
         <xsl:variable name="str2codepts-1" select="$str2codepts[1] * $weights[1]"/>
         <xsl:variable name="str2codepts-2" select="$str2codepts[2] * $weights[2]"/>
         <xsl:variable name="str2codepts-3" select="$str2codepts[3] * $weights[3]"/>
         <xsl:variable name="str2codepts-4" select="$str2codepts[4] * $weights[4]"/>
         <xsl:variable name="str2codepts-5" select="$str2codepts[5] * $weights[5]"/>
         <xsl:variable name="str2codepts-6" select="$str2codepts[6] * $weights[6]"/>
         <xsl:variable name="str2codepts-7" select="$str2codepts[7] * $weights[7]"/>
         <xsl:variable name="sum"
                       select="sum(($str2codepts-1, $str2codepts-2, $str2codepts-3, $str2codepts-4, $str2codepts-5, $str2codepts-6, $str2codepts-7))"/>
         <xsl:value-of select="hwh-xsl:int2hex(xs:int($sum mod 16))"/>
      </xsl:function>
      <xsl:function name="hwh-xsl:checkIdByCheckDigit">
         <xsl:param name="str" as="xs:string"/>
         <xsl:variable name="idStr" select="substring($str, 1, 7)"/>
         <xsl:variable name="idCheckDigit" select="substring($str, 8, 1)"/>
         <xsl:variable name="computedCheckDigit" select="hwh-xsl:compute-check-digit($idStr)"/>
         <xsl:variable name="check" select="$computedCheckDigit = $idCheckDigit"/>
         <xsl:value-of select="$check"/>
      </xsl:function>
      <sch:pattern id="idCheckDigit">
         <sch:rule context="@key | @xml:id[not(parent::tei:layout)] | @sameAs | @codedval | tei:ref[@type='deletion' or @type='duplicate']/@target">
            <sch:assert test="hwh-xsl:checkIdByCheckDigit(.) = true()" role="fatal">Something went wrong with the ID: <sch:value-of select="."/>. Computed check digit is <sch:value-of select="hwh-xsl:compute-check-digit(.)"/>.</sch:assert>
         </sch:rule>
      </sch:pattern>
   </sch:schema>
   <sch:schema xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
               xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
               xmlns:s="http://www.ascc.net/xml/schematron"
               xmlns:hendi="http://henze-digital.zenmem.de/ns/schema-av"
               xmlns:mei="http://www.music-encoding.org/ns/mei"
               xmlns:sch="http://purl.oclc.org/dsdl/schematron"
               xmlns="http://www.tei-c.org/ns/1.0"
               xmlns:rng="http://relaxng.org/ns/structure/1.0"
               queryBinding="xslt2">
      <sch:ns uri="https://henze-digital.de/ns/xslt-functions" prefix="hwh-xsl"/>
      <sch:ns uri="http://www.functx.com" prefix="functx"/>
      <xsl:function name="functx:escape-for-regex" as="xs:string">
         <xsl:param name="arg" as="xs:string?"/>
         <xsl:sequence select="replace($arg, '(\.|\[|\]|\\|\||\-|\^|\$|\?|\*|\+|\{|\}|\(|\))','\\$1')"/>
      </xsl:function>
      <xsl:function name="functx:substring-before-last" as="xs:string">
         <xsl:param name="arg" as="xs:string?"/>
         <xsl:param name="delim" as="xs:string"/>
         <xsl:sequence select="if (matches($arg, functx:escape-for-regex($delim))) then replace($arg, concat('^(.*)', functx:escape-for-regex($delim),'.*'), '$1') else ''"/>
      </xsl:function>
      <xsl:function name="functx:substring-after-last" as="xs:string">
         <xsl:param name="arg" as="xs:string?"/>
         <xsl:param name="delim" as="xs:string"/>
         <xsl:sequence select="replace ($arg,concat('^.*', functx:escape-for-regex($delim)),'')"/>
      </xsl:function>
      <sch:pattern id="checkFilesNameAndDir">
         <sch:rule context="root()">
            <sch:let name="docUri" value="document-uri(.)"/>
            <sch:let name="fileName"
                     value="functx:substring-after-last(substring-before($docUri, '.xml'), '/')"/>
            <sch:let name="fileDir"
                     value="functx:substring-after-last(functx:substring-before-last($docUri, '/'), '/')"/>
            <sch:assert test="./node()/@xml:id = $fileName" role="error">The id of this record does not match the files name. Please check!</sch:assert>
            <sch:assert test="$fileDir = concat(substring($fileName,1,5),'xxx')" role="error">The file is stored in the wrong directory. Please check!</sch:assert>
         </sch:rule>
      </sch:pattern>
   </sch:schema>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="hwhWorksAV-addWithoutPlace-constraint-rule-25">
      <sch:rule xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                xmlns:s="http://www.ascc.net/xml/schematron"
                xmlns:hendi="http://henze-digital.zenmem.de/ns/schema-av"
                xmlns:mei="http://www.music-encoding.org/ns/mei"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                context="tei:add[not(parent::tei:subst)]">
         <sch:assert test="@place">Missing @place, because this is no substitution here.</sch:assert>
      </sch:rule>
   </pattern>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="hwhWorksAV-nameTypeRequirement-constraint-rule-26">
      <sch:rule xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                xmlns:s="http://www.ascc.net/xml/schematron"
                xmlns:hendi="http://henze-digital.zenmem.de/ns/schema-av"
                xmlns:mei="http://www.music-encoding.org/ns/mei"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                context="tei:name[not(ancestor::tei:teiHeader)]">
         <sch:assert test="@type">@type is required at <sch:name/>.</sch:assert>
      </sch:rule>
   </pattern>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="hwhWorksAV-lbInsideAddress-constraint-rule-27">
      <sch:rule xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                xmlns:s="http://www.ascc.net/xml/schematron"
                xmlns:hendi="http://henze-digital.zenmem.de/ns/schema-av"
                xmlns:mei="http://www.music-encoding.org/ns/mei"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                context="tei:lb">
         <sch:report test="parent::tei:address" role="info">Does <sch:name/> mark a new line inside the address? If yes, please use &lt;addrLine&gt; instead of <sch:name/>
         </sch:report>
      </sch:rule>
   </pattern>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="hwhWorksAV-renditionWithPosition-constraint-rule-28">
      <sch:rule xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                xmlns:s="http://www.ascc.net/xml/schematron"
                xmlns:hendi="http://henze-digital.zenmem.de/ns/schema-av"
                xmlns:mei="http://www.music-encoding.org/ns/mei"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                context="tei:addrLine[@rend and not(contains(@rend,' '))] | tei:dateline[@rend and not(contains(@rend,' '))]">
         <sch:assert test="@rend = ('right','center','left')">If only one value is set, it should should address the horizontal position ('right','center','left')</sch:assert>
      </sch:rule>
      <sch:rule xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                xmlns:s="http://www.ascc.net/xml/schematron"
                xmlns:hendi="http://henze-digital.zenmem.de/ns/schema-av"
                xmlns:mei="http://www.music-encoding.org/ns/mei"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                context="tei:addrLine[@rend] | tei:dateline[@rend]">
         <sch:assert test="tokenize(@rend, ' ')[1] = ('top','middle','bottom','inline')">the first value should address the vertical position ('top','middle','bottom')</sch:assert>
         <sch:assert test="tokenize(@rend, ' ')[2] = ('right','center','left')">the second value should address the horizontal position ('right','center','left')</sch:assert>
      </sch:rule>
   </pattern>
   <sch:pattern xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                xmlns:s="http://www.ascc.net/xml/schematron"
                xmlns:hendi="http://henze-digital.zenmem.de/ns/schema-av"
                xmlns:mei="http://www.music-encoding.org/ns/mei"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                id="node-typeNkey"
                abstract="true">
      <sch:rule context="$node[@type='person'][@key]|$node[@type='character'][@key]|$node[@type='actingRole'][@key]|$node[@type='myth'][@key]">
         <sch:assert test="matches(@key, '^A00[0-9A-F]{5}$')">A type value of 'person' must have only one key, starting with 'A00'</sch:assert>
      </sch:rule>
      <sch:rule context="$node[@type='persons'][@key]|$node[@type='characters'][@key]|$node[@type='actingRoles'][@key]|$node[@type='myths'][@key]">
         <sch:assert test="matches(@key, '^(A00[0-9A-F]{5}\s)*A00[0-9A-F]{5}$')">A type value of 'persons' must have at least one key, each starting with 'A00'</sch:assert>
      </sch:rule>
      <sch:rule context="$node[@type='work'][@key]">
         <sch:assert test="matches(@key, '^A02[0-9A-F]{5}$')">A type value of 'work' must have only one key, starting with 'A02'</sch:assert>
      </sch:rule>
      <sch:rule context="$node[@type='works'][@key]">
         <sch:assert test="matches(@key, '^(A02[0-9A-F]{5}\s)*A02\d{5}$')">A type value of 'works' must have at least one key, each starting with 'A02'</sch:assert>
      </sch:rule>
      <sch:rule context="$node[@type='writing'][@key]">
         <sch:assert test="matches(@key, '^A03[0-9A-F]{5}$')">A type value of 'writing' must have only one key, starting with 'A03'</sch:assert>
      </sch:rule>
      <sch:rule context="$node[@type='writings'][@key]">
         <sch:assert test="matches(@key, '^(A03[0-9A-F]{5}\s)*A03[0-9A-F]{5}$')">A type value of 'writings' must have at least one key, each starting with 'A03'</sch:assert>
      </sch:rule>
      <sch:rule context="$node[@type='postal'][@key]">
         <sch:assert test="matches(@key, '^A04[0-9A-F]{5}$')">A type value of 'letter' must have only one key, starting with 'A04'</sch:assert>
      </sch:rule>
      <sch:rule context="$node[@type='postals'][@key]">
         <sch:assert test="matches(@key, '^(A04[0-9A-F]{5}\s)*A04[0-9A-F]{5}$')">A type value of 'letters' must have at least one key, each starting with 'A04'</sch:assert>
      </sch:rule>
      <sch:rule context="$node[@type='news'][@key]">
         <sch:assert test="matches(@key, '^(A05[0-9A-F]{5}\s)*A05[0-9A-F]{5}$')">A type value of 'news' must have at least one key, starting with 'A05'</sch:assert>
      </sch:rule>
      <sch:rule context="$node[@type='diaryDay'][@key]">
         <sch:assert test="matches(@key, '^A06[0-9A-F]{5}$')">A type value of 'diaryDay' must have only one key, starting with 'A06'</sch:assert>
      </sch:rule>
      <sch:rule context="$node[@type='diaryDays'][@key]">
         <sch:assert test="matches(@key, '^(A06[0-9A-F]{5}\s)*A06[0-9A-F]{5}$')">A type value of 'diaryDays' must have at least one key, each starting with 'A06'</sch:assert>
      </sch:rule>
      <sch:rule context="$node[@type='org'][@key]">
         <sch:assert test="matches(@key, '^A08[0-9A-F]{5}$')">A type value of 'org' must have only one key, starting with 'A08'</sch:assert>
      </sch:rule>
      <sch:rule context="$node[@type='orgs'][@key]">
         <sch:assert test="matches(@key, '^(A08\d{5}\s)*A08\d{5}$')">A type value of 'orgs' must have at least one key, each starting with 'A08'</sch:assert>
      </sch:rule>
      <sch:rule context="$node[@type='document'][@key]">
         <sch:assert test="matches(@key, '^A10\d{5}$')">A type value of 'document' must have only one key, starting with 'A10'</sch:assert>
      </sch:rule>
      <sch:rule context="$node[@type='documents'][@key]">
         <sch:assert test="matches(@key, '^(A10[0-9A-F]{5}\s)*A10[0-9A-F]{5}$')">A type value of 'documents' must have at least one key, each starting with 'A10'</sch:assert>
      </sch:rule>
      <sch:rule context="$node[@type='biblio'][@key]">
         <sch:assert test="matches(@key, '^(A11[0-9A-F]{5}\s)*A11[0-9A-F]{5}$')">A type value of 'biblio' must have at least one key, each starting with 'A11'</sch:assert>
      </sch:rule>
      <sch:rule context="$node[@type='addenda'][@key]">
         <sch:assert test="matches(@key, '^A12[0-9A-F]{5}$')">A type value of 'addenda' must have only one key, starting with 'A12'</sch:assert>
      </sch:rule>
      <sch:rule context="$node[@type='place'][@key] | $node[@type='venue'][@key]">
         <sch:assert test="matches(@key, '^A13[0-9A-F]{5}$')">A type value of 'place' must have only one key, starting with 'A13'</sch:assert>
      </sch:rule>
      <sch:rule context="$node[@type='places'][@key]">
         <sch:assert test="matches(@key, '^(A13[0-9A-F]{5}\s)*A13[0-9A-F]{5}$')">A type value of 'places' must have at least one key, each starting with 'A13'</sch:assert>
      </sch:rule>
      <sch:rule context="$node[@type='mixed'][@key]">
         <sch:assert test="count(distinct-values(for $i in tokenize(@key, '\s+') return substring($i, 1, 3))) gt 1">A type value of 'mixed' must have keys referring to different document types</sch:assert>
      </sch:rule>
   </sch:pattern>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="hwhWorksAV-importName-constraint-rule-50">
      <sch:rule xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                xmlns:s="http://www.ascc.net/xml/schematron"
                xmlns:hendi="http://henze-digital.zenmem.de/ns/schema-av"
                xmlns:mei="http://www.music-encoding.org/ns/mei"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                context="tei:persName | tei:orgName | tei:placeName">
         <sch:report test="@type='import'" role="info">This element should be deleted after checking this record.</sch:report>
      </sch:rule>
   </pattern>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="hwhWorksAV-quotation-rend-values-constraint-rule-51">
      <sch:rule xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                xmlns:s="http://www.ascc.net/xml/schematron"
                xmlns:hendi="http://henze-digital.zenmem.de/ns/schema-av"
                xmlns:mei="http://www.music-encoding.org/ns/mei"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                context="*:q[@rend]/@rend | *:quote[@rend]/@rend | *:q[@rendLeft]/@rendLeft | *:quote[@rendLeft]/@rendLeft | *:q[@rendRight]/@rendRight | *:quote[@rendRight]/@rendRight">
         <sch:report test="(contains(.,'single') and contains(.,'double')) or (contains(., 'up') and contains(.,'down'))">Please check the values at the attriute <sch:value-of select="node-name()"/>.</sch:report>
      </sch:rule>
   </pattern>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="hwhWorksAV-quotation-rend-attributes-constraint-rule-52">
      <sch:rule xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                xmlns:s="http://www.ascc.net/xml/schematron"
                xmlns:hendi="http://henze-digital.zenmem.de/ns/schema-av"
                xmlns:mei="http://www.music-encoding.org/ns/mei"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                context="*:q[@rend] | *:quote[@rend] | *:q[@rendLeft] | *:quote[@rendLeft] | *:q[@rendRight] | *:quote[@rendRight]">
         <sch:report test="(@rend and @rendLeft) or (@rend and @rendLeft)">The attribute rend is not allowed if rendLeft or rendRight is used.</sch:report>
      </sch:rule>
   </pattern>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="hwhWorksAV-styleguide-document-node-content-constraint-rule-53">
      <sch:rule xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                xmlns:s="http://www.ascc.net/xml/schematron"
                xmlns:hendi="http://henze-digital.zenmem.de/ns/schema-av"
                xmlns:mei="http://www.music-encoding.org/ns/mei"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                context="document-node()">
         <sch:report test="count(processing-instruction()) ne 2">Henze-Digital styleguide error: there should exactly be two processing instructions before the root element</sch:report>
         <sch:report test="comment()">Henze-Digital styleguide error: there should be no comments outside the root element</sch:report>
      </sch:rule>
   </pattern>
</grammar>
